@model CreateAccountRequest

@{
    ViewData["Title"] = "Create Account";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Create New Account</h4>
                </div>
                <div class="card-body">
                    <form  asp-controller="SystemAccount" asp-action="CreateSystemAccount" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="AccountID" class="form-label">ID</label>
                            <input asp-for="AccountID" class="form-control" placeholder="Enter category name" />
                            <span asp-validation-for="AccountID" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AccountName" class="form-label">Name</label>
                            <input asp-for="AccountName" class="form-control" rows="4" placeholder="Enter category description"></input>
                            <span asp-validation-for="AccountName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AccountEmail" class="form-label">Email</label>
                            <input type="email" asp-for="AccountEmail" class="form-control" rows="4" placeholder="Enter category description"></input>
                            <span asp-validation-for="AccountEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AccountRole" class="form-label">Role</label>
                            <select asp-for="AccountRole" class="form-control" asp-items="ViewBag.AccountRoleList">
                                <option value="">-- Select Role --</option>
                                <option value="1">Staff</option>
                                <option value="2">Lecture</option>
                            </select>
                            <span asp-validation-for="AccountRole" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="AccountPassword" class="form-label">Password</label>
                            <input type="password" asp-for="AccountPassword" class="form-control" rows="4" placeholder="Enter category description"></input>
                            <span asp-validation-for="AccountPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a asp-controller="SystemAccount" asp-action="Accounts" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}