@model BusinessObject.Entities.NewsArticle
@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title text-danger">Confirm Delete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form id="deleteForm" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.NewsArticleID" />
        <p>Are you sure you want to delete the article "<strong>@Model.NewsTitle</strong>"?</p>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>
<script>
    $('#deleteForm').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function () {
                $('#deleteModal').modal('hide');
                location.reload();
            },
            error: function (xhr) {
                $('#deleteModalContent').html(xhr.responseText);
            }
        });
    });
</script>