@model ArticleViewModel

@{
    ViewData["Title"] = "Edit Article";
}

<h2>Edit Article</h2>

<form asp-action="Update" asp-controller="Article" asp-route-id="@Model.NewsArticleID" method="post">
    <input type="hidden" asp-for="NewsArticleID"/>
    <input type="hidden" asp-for="CategoryID" />



    <div class="form-group">
        <label asp-for="NewsTitle"></label>
        <input asp-for="NewsTitle" class="form-control" />
        <span asp-validation-for="NewsTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Headline"></label>
        <input asp-for="Headline" class="form-control" />
        <span asp-validation-for="Headline" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewsContent"></label>
        <textarea asp-for="NewsContent" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="NewsSource"></label>
        <input asp-for="NewsSource" class="form-control" />
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        @foreach (var tag in Model.AllTags)
        {
            <div>
                <input type="checkbox" name="SelectedTagIds" value="@tag.TagID" />
                <label>@tag.TagName</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}